/* START: Global
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {

}

h1, h2, h3, h4, h5, h6 {
    color: white;
}
/* END: Global
*/

.base {
    background-color: white;
    width: 100%;
    height: 100vh;
}

.base .left {
    border-top-right-radius: 200px;
    width: 40%;
    height: 100vh;
    background-color: aqua;
}

.base .card {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 70vh;
    width: 80%;
    position: absolute;
}

.base .card .board {
    border-radius: 20px;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.300);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.300);
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
}
.base .card .board .left-side {
    border-top-right-radius: 200px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 100%;
    width: 40%;
    background-color: aqua;
    flex-direction: 40%;
    align-items: center;
    justify-content: center;
}
.base .card .board .right-side {
    right: 0;
    width: 60%;
    height: 100%;
    flex: 60%;
    flex-direction: column;
    position: relative;
}
.base .card .board .right-side .content {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
}
.base .card .board .right-side .content h3 {
    color: rgb(17, 17, 17);
}
.base .card .board .right-side .content form {
    width: 80%;
}
.base .card .board .right-side .content form label {
    text-align: left;
    left: 0;
    display: block;
}
.base .card .board .right-side .content form input {
    text-align: left;
    left: 0;
    display: block;
    padding: 10px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid silver;
}
.base .card .board .right-side .content form #forgot-password {
    margin-top: 10px;
    text-align: right;
    font-size: 15px;
}
.base .card .board .right-side .content form #forgot-password a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(27, 27, 27);
}
.base .card .board .right-side .content form button {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    color: rgb(17, 17, 17);
    background-color: aqua;
    margin-top: 70px;
}
.base .card .board .left-side .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
    text-align: center;
}
.base .card .board .left-side .content h2 {
    color: rgb(17, 17, 17);
}
.base .card .board .left-side .content p {
    padding-left: 20px;
    padding-right: 20px;
}